{% if cover_image %}
<style type="text/css">
    #banner {
        height:320px; background-repeat:no-repeat; background-position: center center;
        background-image:url('{{ cover_image.cover_small }}');
    }
    @media all and (min-width:600px) { #banner { background-image:url('{{ cover_image.cover_medium }}'); } }
    @media all and (min-width:990px) { #banner { background-image:url('{{ cover_image.cover_large  }}'); } }
</style>
{% endif %}
<div id="banner"></div>
<div id="breadcrumb" class="{{ cover_image != '' ? 'has-banner' }}">
    {% if page.breadcrumb or contactInfo %}
    <div class="container">
        {{ page.breadcrumb }}
        <div class="social-sharing">

            <span alt="Share this page" title="Share this page">Share:</span>
            <div class="fb-share-button"
                 data-href="{{base_path}}"
                 data-layout="button">
            </div>

            <a class="twitter-share-button"
               href="https://twitter.com/intent/tweet"
               data-size="small">Tweet
            </a>

            <!-- <div class="item facebook">
                <a href="#" alt="Share on Facebook" title="Share on Facebook">
                    <svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1343 12v264h-157q-86 0-116 36t-30 108v189h293l-39 296h-254v759h-306v-759h-255v-296h255v-218q0-186 104-288.5t277-102.5q147 0 228 12z" fill=""/></svg>
                </a>
            </div>
            <div class="item twitter">
                <a href="#" alt="Share on Twitter" title="Share on Twitter">
                    <svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1684 408q-67 98-162 167 1 14 1 42 0 130-38 259.5t-115.5 248.5-184.5 210.5-258 146-323 54.5q-271 0-496-145 35 4 78 4 225 0 401-138-105-2-188-64.5t-114-159.5q33 5 61 5 43 0 85-11-112-23-185.5-111.5t-73.5-205.5v-4q68 38 146 41-66-44-105-115t-39-154q0-88 44-163 121 149 294.5 238.5t371.5 99.5q-8-38-8-74 0-134 94.5-228.5t228.5-94.5q140 0 236 102 109-21 205-78-37 115-142 178 93-10 186-50z" fill=""/></svg>
                </a>
            </div>
            <div class="item link">
                <a href="#" alt="Share this Link" title="Share this Link">
                    <svg width="512" height="512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" ><path fill="" d="M503.691 189.836L327.687 37.851C312.281 24.546 288 35.347 288 56.015v80.053C127.371 137.907 0 170.1 0 322.326c0 61.441 39.581 122.309 83.333 154.132 13.653 9.931 33.111-2.533 28.077-18.631C66.066 312.814 132.917 274.316 288 272.085V360c0 20.7 24.3 31.453 39.687 18.164l176.004-152c11.071-9.562 11.086-26.753 0-36.328z"/></svg>
                </a>
            </div> -->
        </div>
        {% include '@cob/partials/contactInfo.html.twig' %}
    </div>
    {% endif %}
</div>
{{ page.highlighted }}
{{ page.help }}