{% if cover_image %}
<style type="text/css">
    #breadcrumb { background-image:url('{{ cover_image.cover_small }}'); }
    @media all and (min-width:600px) { #breadcrumb { background-image:url('{{ cover_image.cover_medium }}'); }}
    @media all and (min-width:990px) { #breadcrumb { background-image:url('{{ cover_image.cover_large  }}'); }}
</style>
{% endif %}

<div id="breadcrumb">
    {% if page.breadcrumb or contactInfo %}
    <div class="blur">
        <div class="container">
            {{ page.breadcrumb }}
            {% include '@cob/partials/contactInfo.html.twig' %}
        </div>
    </div>
    {% endif %}
</div>

{% if available_messages %}
<div id="highlighted">
    <div class="container">
        {{ page.highlighted }}
    </div>
</div>
{% endif %}

{{ page.help }}
