{% if contactInfo %}
<div class="contactInfo">
    {% if contactInfo.address %}
    <dl><dt>Address</dt>
        <dd><address>{{ contactInfo.address }}
            {{ contactInfo.city }} {{ contactInfo.state }} {{ contactInfo.zip }}
            </address>
        </dd>
    </dl>
    {% endif %}
    {% if contactInfo.phone %}
    <dl><dt>Phone</dt>
        <dd><a href="tel:{{ contactInfo.phone }}" class="phone" title="Phone">
                {{ contactInfo.phone }}
            </a>
        </dd>
    </dl>
    {% endif %}
    {% if contactInfo.fax %}
    <dl><dt>Fax</dt>
        <dd><a href="tel:{{ contactInfo.fax }}" class="fax" title="Fax">
                {{ contactInfo.fax }}
            </a>
        </dd>
    </dl>
    {% endif %}
    {% if contactInfo.email %}
    <dl><dt>Email</dt>
        <dd><a href="mailto:{{ contactInfo.email }}">{{ contactInfo.email }}</a></dd>
    </dl>
    {% endif %}
</div>
{% endif %}
