<footer class="usa-footer usa-footer--big usa-section--dark">
    <div class="grid-container text-white">
        <div class="usa-footer__return-to-top"><a href="#">Return to top</a></div>

        <img src="{{ base_path }}{{ directory }}/css/images/cob-logo-horizontal-inverted.svg"
             alt="City of Bloomington Logo"
           class="grid-col-auto maxh-5 margin-right-105" />

        <nav>
            <ul class="usa-list usa-list--unstyled">
                <li><a class="usa-link text-white" href="https://www.governmentjobs.com/careers/bloomingtonindiana" title="City Jobs">City Jobs</a></li>
                <li><a class="usa-link text-white" href="{{ base_path }}contact" title="Contact the City">Contact the City</a></li>
                <li><a class="usa-link text-white" href="https://bloomington.in.gov/ureport" title="Report an Issue">Report an Issue</a></li>
                <li><a class="usa-link text-white" href="{{ base_path }}contact/social-media" title="Connect on Social Media">Connect on Social Media</a></li>
                <li><a class="usa-link text-white" href="{{ base_path }}maps" title="City Maps">City Maps</a></li>
                <li><a class="usa-link text-white" href="{{ base_path }}city/transparency" title="Transparency">Transparency</a></li>
            </ul>

            <ul class="usa-list usa-list--unstyled">
                <li><a class="usa-link text-white" href="{{ base_path }}accessible"  title="Accessibility">Accessibility</a></li>
                <li><a class="usa-link text-white" href="{{ base_path }}web/privacy" title="Privacy Policy">Privacy Policy</a></li>
                <li><a class="usa-link text-white" href="https://apps.bloomington.in.gov/kb" title="City Intranet">City Intranet</a></li>
                <li>{% if logged_in %}
                    <a class="usa-link text-white" href="{{ base_path }}user/logout">Logout</a>
                    {% else %}
                    {{ page.footer }}
                    {% endif %}
                </li>
            </ul>
        </nav>

        <address class="text-pre-line text-white">
            City Hall
            401 North Morton Street
            Bloomington, Indiana 47404
            812-349-3400
        </address>

        <nav>
            <a href="https://www.facebook.com/citybloomington">
                <svg class="usa-icon text-white" aria-labelledby="facebook-title" role="img">
                    <title id="facebook-title">Facebook</title>
                    <use href="/static/uswds/dist/img/sprite.svg#facebook" />
                </svg>
            </a>
            <a href="https://twitter.com/citybloomington">
                <svg class="usa-icon text-white" aria-labelledby="twitter-title" role="img">
                    <title id="twitter-title">Twitter</title>
                    <use href="/static/uswds/dist/img/sprite.svg#twitter" />
                </svg>
            </a>
            <a href="https://www.instagram.com/citybloomington">
                <svg class="usa-icon text-white" aria-labelledby="instagram-title" role="img">
                    <title id="instagram-title">Instagram</title>
                    <use href="/static/uswds/dist/img/sprite.svg#instagram" />
                </svg>
            </a>
            <a href="https://nextdoor.com/pages/city-of-bloomington-2">
                <svg class="usa-icon text-white" aria-labelledby="nextdoor-title" role="img">
                    <title id="nextdoor-title">Nextdoor</title>
                    <use href="/static/uswds/dist/img/sprite.svg#home" />
                </svg>
            </a>
            <a href="https://www.youtube.com/channel/UCjrKAfL1hf92JtpBknUg-GA">
                <svg class="usa-icon text-white" aria-labelledby="youtube-title" role="img">
                    <title id="youtube-title">Youtube</title>
                    <use href="/static/uswds/dist/img/sprite.svg#youtube" />
                </svg>
            </a>
        </nav>
    </div>
</footer>
