<input  id="hamburger" type="checkbox" />
<label for="hamburger"></label>
<header>
    <div class="container">
        {{ page.header }}
    </div>
</header>
<nav id="nav1">
    <div class="container">
        {% for term in root_taxonomy_terms %}
        <a href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': term.tid}) }}">{{ term.name}}</a>
        {% endfor %}
    </div>
    {{ page.primary_menu }}
    {{ page.secondary_menu }}
</nav>
