{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 #}
<nav id="megamenu" class="visually-hidden">
    <div class="container">
        <ul><li><a href="{{ base_path }}services">Services</a></li>
            <li><a href="{{ base_path }}about">Information</li>
            <li><a href="{{ base_path }}news">News</li>
            <li><a href="{{ base_path }}calendars">Meetings &amp; Events</li>
            <li><a href="{{ base_path }}city">City Government</li>
        </ul>
    </div>
</nav>
