<input  id="hamburger" type="checkbox" />
<label for="hamburger"></label>
<a id="feedback" href="/ureport/miscellaneous/53">Feedback</a>
<header>
    <div class="container">
        {{ page.header }}
    </div>
</header>
<nav id="nav1">
    <div class="container">
        <a class="about"    href="{{ base_path }}about">Information &amp; Guides</a>
        <a class="city"     href="{{ base_path }}city">City Government</a>
        <a class="news"     href="{{ base_path }}news">News &amp; Events</a>
        <a class="services" href="{{ base_path }}services">Top Services</a>
    </div>
</nav>
{{ page.primary_menu }}
