<header>
  <div class="container">
    {{ page.header }}

    <a href="{{ base_path }}welcome">Welcome Neighbors</a>
  </div>

  <nav id="nav1">
    <div class="container">
      <a class="about"
         title="Information &amp; Guides"
         href="{{ base_path }}about">
        <span>Information &amp; Guides</span>
        <span>Information</span>
      </a>

      <a class="city"
         title="City Government"
         href="{{ base_path }}city">
        <span>City Government</span>
        <span>Government</span>
      </a>

      <a class="news"
         title="News &amp; Events"
         href="{{ base_path }}news">
        <span>News &amp; Events</span>
        <span>News</span>
      </a>

      <a class="services"
         title="Top Services"
         href="{{ base_path }}services">
        <span>Top Services</span>
        <span>Services</span>
      </a>
    </div>
  </nav>
</header>
{{ page.primary_menu }}
