{% if alerts %}
	<div id="alerts">{{ alerts }}</div>
{% endif %}

<header class="d-none d-lg-block" id="nav-collapses">
    <nav class="navbar navbar-expand-md shadow-sm">
        <div class="container-fluid">
            <div class="navbar-brand d-xxl-none">
                <a class="navbar-brand"  href="https://bloomington.in.gov/" aria-label="Official Homepage of the City of Bloomington, Indiana">
                    <img src="https://bloomington.in.gov/static/snowflake-blue.svg" alt="City of Bloomington Logo" height="55" class="d-inline-block align-text-center">
                </a>
            </div>
            <div class="navbar-brand d-none d-xxl-block">
                <a class="navbar-brand"  href="https://bloomington.in.gov/" aria-label="Official Homepage of the City of Bloomington, Indiana">
                    <img src="{{ base_path }}{{ directory }}/css/images/cob-logo-horizontal.svg" alt="City of Bloomington Logo" style="padding-right:5%;" height="55" class="d-inline-block align-text-center">
                    Mayor Kerry Thomson
                </a>
            </div>

            <div class="collapse navbar-collapse mb-1">
                <ul class="navbar-nav flex-grow-1 justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link icon-link fs-4 fw-bold" role="button" data-bs-toggle="collapse" aria-expanded="false" href="#collapse_residents"  data-bs-target="#collapse_residents"  aria-controls="collapse_residents">
                            Residents
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" class="bi bi-caret-down-fill fs-6 mt-1">
                                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"></path>
                            </svg>
                        </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link icon-link fs-4 fw-bold" role="button" data-bs-toggle="collapse" aria-expanded="false" href="#collapse_visitors"   data-bs-target="#collapse_visitors"   aria-controls="collapse_visitors">
                            Visitors
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" class="bi bi-caret-down-fill fs-6 mt-1">
                                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"></path>
                            </svg>
                        </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link icon-link fs-4 fw-bold" role="button" data-bs-toggle="collapse" aria-expanded="false" href="#collapse_business"   data-bs-target="#collapse_business"   aria-controls="collapse_business">
                            Business
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" class="bi bi-caret-down-fill fs-6 mt-1">
                                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"></path>
                            </svg>
                        </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link icon-link fs-4 fw-bold" role="button" data-bs-toggle="collapse" aria-expanded="false" href="#collapse_government" data-bs-target="#collapse_government" aria-controls="collapse_government">
                            Government
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" class="bi bi-caret-down-fill fs-6 mt-1">
                                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"></path>
                            </svg>
                        </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link icon-link fs-4 fw-bold" role="button" data-bs-toggle="collapse" aria-expanded="false" href="#collapse_connect"    data-bs-target="#collapse_connect"    aria-controls="collapse_connect">
                            Connect
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" class="bi bi-caret-down-fill fs-6 mt-1">
                                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"></path>
                            </svg>
                        </a>

                    </li>
                </ul>
                <form class="d-flex" id="search-block-form" method="get" action="/search">
                    <input id="query" name="query" type="search" class="form-control me-2" placeholder="Search" aria-label="Search" />
                    <button type="submit">Search</button>
                </form>
            </div>

        </div>
    </nav>
    {% include '@cob/menus/residents.html.twig'  %}
    {% include '@cob/menus/visitors.html.twig'   %}
    {% include '@cob/menus/business.html.twig'   %}
    {% include '@cob/menus/government.html.twig' %}
    {% include '@cob/menus/connect.html.twig'    %}
</header>

<header class="d-lg-none">
    <nav class="navbar navbar-expand-md shadow-sm">
        <div class="container-fluid">
            <div class="navbar-brand d-lg-none">
                <a class="navbar-brand"  href="https://bloomington.in.gov/" aria-label="Official Homepage of the City of Bloomington, Indiana">
                    <img src="https://bloomington.in.gov/static/snowflake-blue.svg" alt="City of Bloomington Logo" height="55" class="d-inline-block align-text-center">
                </a>
            </div>
            <div class="navbar-brand d-none d-lg-block">
                <a class="navbar-brand"  href="https://bloomington.in.gov/" aria-label="Official Homepage of the City of Bloomington, Indiana">
                    <img src="{{ base_path }}{{ directory }}/css/images/cob-logo-horizontal.svg" alt="City of Bloomington Logo" style="padding-right:5%;" height="55" class="d-inline-block align-text-center">
                    Mayor Kerry Thomson
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mobile-nav-menu" aria-controls="mobile-nav-menu" aria-expanded="false" aria-label="Toggle Mobile Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mobile-nav-menu">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ base_path }}welcome">Residents</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ base_path }}about">Visitors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ base_path }}business">Business</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ base_path }}city">Government</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ base_path }}contact">Connect</a>
                    </li>
                </ul>
                <form class="d-flex" id="search-block-form" method="get" action="/search">
                    <input id="query" name="query" type="search" class="form-control me-2" placeholder="Search" aria-label="Search" />
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>
{{ page.primary_menu }}
