{% if alerts %}
{{ alerts }}
{% endif %}
<header class="usa-header usa-header--basic usa-header--megamenu">
    <div class="usa-nav-container">
        <div class="usa-navbar">
            <div class="usa-logo">
                <a class="grid-row" href="{{ base_path }}" title="City of Bloomington, Indiana>">
                    <img src="{{ base_path }}{{ directory }}/css/images/cob-logo-horizontal.svg"
                         alt="City of Bloomington Logo"
                       class="grid-col-auto maxh-5 margin-right-105" />
                    <em class="usa-logo__text font-sans-lg grid-col-auto margin-y-auto">Mayor Kerry Thomson</em>
                </a>
            </div>
        </div>

        <nav aria-label="Top navigation" class="usa-nav">
            <ul class="usa-nav__primary usa-accordion">
                <li class="usa-nav__primary-item">
                    <a title="Top Services" href="{{ base_path }}services" class="usa-nav-link">
                        <svg class="usa-icon" aria-hidden="true" role="img">
                            <use href="/static/uswds/dist/img/sprite.svg#settings"></use>
                        </svg>
                        Services
                    </a>
                </li>
                <li class="usa-nav__primary-item">
                    <a title="Information &amp; Guides" href="{{ base_path }}about" class="usa-nav-link">
                        <svg class="usa-icon" aria-hidden="true" role="img">
                            <use href="/static/uswds/dist/img/sprite.svg#info_outline"></use>
                        </svg>
                        Information
                    </a>
                </li>
                <li class="usa-nav__primary-item">
                    <a title="News &amp; Events" href="{{ base_path }}news" class="usa-nav-link">
                        <svg class="usa-icon" aria-hidden="true" role="img">
                            <use href="/static/uswds/dist/img/sprite.svg#settings"></use>
                        </svg>
                        News
                    </a>
                </li>
                <li class="usa-nav__primary-item">
                    <a title="News &amp; Events" href="{{ base_path }}calendars" class="usa-nav-link">
                        <svg class="usa-icon" aria-hidden="true" role="img">
                            <use href="/static/uswds/dist/img/sprite.svg#event"></use>
                        </svg>
                        Events
                    </a>
                </li>
                <li class="usa-nav__primary-item">
                    <a title="City Government" href="{{ base_path }}city" class="usa-nav-link">
                        <svg class="usa-icon" aria-hidden="true" role="img">
                            <use href="/static/uswds/dist/img/sprite.svg#account_balance"></use>
                        </svg>
                        Government
                    </a>
                </li>
            </ul>
            <section>
                <form class="usa-search usa-search--small" role="search" method="get" action="{{ base_path }}search">
                    <label for="query" class="usa-sr-only">Search</label>
                    <input  id="query" name="query" type="search" class="usa-input" />
                    <button class="usa-button" type="submit">
                        <img class="usa-search__submit-icon" src="/static/uswds/dist/img/usa-icons-bg/search--white.svg" alt="Search" />
                    </button>
                </form>
            </section>
        </nav>
    </div>
</header>
