{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 #}
<nav id="city-dropdown" class="megamenu visually-hidden">
    <div class="container">
        <h3>Resources</h3>
        <ul><li><a href="{{ base_path }}mayor">Mayor Kerry Thomson</a></li>
            <li><a href="{{ base_path }}council">City Council</a></li>
            <li><a href="{{ base_path }}clerk">City Clerk</a></li>
            <li><a href="{{ base_path }}boards">Boards &amp; Commissions</a></li>
            <li><a href="{{ base_path }}departments">Departments</a></li>
        </ul>

        <a class="button" href="{{ base_path }}">City Government</a>
    </div>
</nav>
