{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 #}
 <div class="collapse multi-collapse z-3 position-absolute container-fluid px-5" id="collapse_connect" data-bs-parent="#nav-collapses">
    <div class="card card-body rounded-0">
        <ul>
            <li>
                <a class="fs-5 fw-bold" href="{{ base_path }}contact">Contact</a>
                <ul>
                    <li><a href="{{ base_path }}city/showers-city-hall">Visit City Hall</a></li>
                    <li><a href="{{ base_path }}directory">Staff Directory</a>
                    <li><a href="{{ base_path }}departments">Departments</a></li>
                    <li><a href="{{ base_path }}uReport">uReport</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

