{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 #}
<nav id="info-dropdown" class="megamenu visually-hidden">
    <div class="container">
        <h3>About Bloomington</h3>
        <ul><li><a href="{{ base_path }}about/accolades-and-amenities">Accolades &amp; Amenities</a></li>
            <li><a href="{{ base_path }}historic-bloomington">Historic Bloomington</a></li>
            <li><a href="{{ base_path }}about/history">History of Bloomington &amp; Monroe County</a></li>
            <li><a href="{{ base_path }}inclusion">Equity, Inclusion, &amp; Accessibility</a></li>
        </ul>

        <a class="button" href="{{ base_path }}about">About Bloomington</a>
    </div>
</nav>
