{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 #}
<nav id="meetings-dropdown" class="megamenu visually-hidden">
    <div class="container">
        <h3>Events</h3>
        <ul><li><a href="{{ base_path }}services">Services</a></li>
            <li><a href="{{ base_path }}about">Information</a></li>
            <li><a href="{{ base_path }}news">News</a></li>
            <li><a href="{{ base_path }}calendars">Meetings &amp; Events</a></li>
            <li><a href="{{ base_path }}city">City Government</a></li>
        </ul>
    </div>
</nav>
