{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 #}

<ul class="dropdown-menu">
    <li>
        <a class="dropdown-item fs-5 fw-bold" href="{{ base_path }}welcome">Residents</a>
        <ul>
            <li>
                <a class="dropdown-item" href="{{ base_path }}welcome/students">Student Living</a>
            </li>
        </ul>
    </li>
    <li>
        <a class="dropdown-item fs-5 fw-bold" href="{{ base_path }}housing/renters">Renters</a>
        <ul>
            <li><a class="dropdown-item" href="{{ base_path }}sites/default/files/2022-01/FINAL%20Tenant%20Info%20brochure%2C%2010-1-2021.pdf">Renters Brochure</a></li>
            <li><a class="dropdown-item" href="{{ base_path }}housing/renters/legal-questions">Legal Questions</a></li>
            <li><a class="dropdown-item" href="{{ base_path }}housing/renters/housing/yard-complaints">Trash &amp; Yard Violations</a>
        </ul>
    </li>
    <li>
        <a class="dropdown-item fs-5 fw-bold" href="{{ base_path }}housing/home-ownership">Homeowners</a>
        <ul>
            <li><a class="dropdown-item" href="{{ base_path }}housing/home-buyers-club">Home Buyers Club</a></li>
        </ul>
    </li>
    <li>
        <a class="dropdown-item fs-5 fw-bold" href="{{ base_path }}">Utilities</a>
        <ul>
            <li><a class="dropdown-item" href="{{ base_path }}sanitation/trash">Sanitation Services</a></li>
            <li><a class="dropdown-item" href="{{ base_path }}utilities/pay-bill">Pay Utility Bill</a></li>
            <li><a class="dropdown-item" href="{{ base_path }}utilities/pay-bill">Test</a></li>
        </ul>
    </li>
    <li>
        <a class="dropdown-item fs-5 fw-bold" href="{{ base_path }}transportation">Getting Around</a>
        <ul>
            <li><a class="dropdown-item" href="{{ base_path }}transportation/parking">Parking Services</a></li>
            <li><a class="dropdown-item" href="{{ base_path }}transportation/parking/towing">Vehicle Towing</a></li>
            <li><a class="dropdown-item" href="{{ base_path }}transportation/bike/registration">Bike &amp; Scooter Registration</a></li>
        </ul>
    </li>
</ul>


