{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 #}
<nav id="services-dropdown" class="megamenu visually-hidden">
    <div class="container">
        <h3>Pay Online</h3>
        <ul><li><a href="{{ base_path }}utilities/pay-bill">Pay Water or Trash Bill</a></li>
            <li><a href="{{ base_path }}parking/pay-ticket">Pay Parking Citation</a></li>
            <li><a href="https://energov.bloomington.in.gov/energov_prod/selfservice#/home">Pay Permit, Plan, and Citation Fees</a></li>
        </ul>

        <h3>Contact the City</h3>
        <ul><li><a href="https://bloomington.in.gov/ureport">Report an Issue</a></li>
            <li><a href="https://bloomington.in.gov/directory">Staff Directory</a></li>
            <li><a href="{{ base_path }}">Contact your Council Representative</a></li>
            <li><a href="{{ base_path }}/office-of-the-mayor">Contact the Mayor</a></li>
        </ul>

        <h3>Water, Sewer, &amp; Sanitation</h3>
        <ul><li><a href="https://bloomington.in.gov/utilities_forms/index.php?form=individualcustomercontract">Sign up for Water Service</a></li>
            <li><a href="https://api.recollect.net/r/area/bloomingtonin#!rc-cpage=wizard_material_list">What can I recycle?</a></li>
        </ul>

        <a class="button" href="{{ base_path }}services">Top Services</a>
    </div>
</nav>
