{#
/**
 * @file
 * Displays a list of node results
 *
 * Available variables
 * - year    int      The current year being displayed
 * - month   int      The current month being displayed (optional)
 * - start   DateTime The start date for node results
 * - form    array    The drupal form used for searching and browsing
 * - type    string   The type of nodes being returned
 * - results array    The node render arrays
 * - events  array    Events from a Google Calendar
 *
 * @copyright 2017-2019 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 */
#}
<section class="{{ type }}-section-new">
	{% if type=='news' %}
	<p>Read the news as it happens!
	   Sign up at <a href="https://bton.in/-M!di">https://bton.in/-M!di</a>
	   to receive City news delivered to your inbox.
	</p>
	{% endif %}
	<div class="{{ type }}">
		<header>
			<h2>
				{% if month %}
					{{ start|date('F') }}
				{% endif %}
				{{ year }}
				{% if     type == 'news'    %}News Releases
					{% elseif type == 'success' %}Success Stories
				{% else %}
					{{ type }}
				{% endif %}
			</h2>
		</header>
		{{ form }}
			<div class="results">
				{{ results }}
			</div>
		</div>
	</div>
</section>
