{#
/**
 * @file
 * Displays the list of Stray Animals held in Shelter Manager
 *
 * Available variables
 * - animals: The animals JSON data from Shelter Manager
 * - asm_url: Base URL for Shelter Manager
 * - proxy:   Whether to proxy images, or not
 *
 * @copyright 2020 City of Bloomington, Indiana
 * @license https://www.gnu.org/licenses/old-licenses/gpl-2.0 GNU/GPL2, see LICENSE
 *
 * This file is part of the ASM drupal module.
 *
 * The ASM module is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 2 of the License, or
 * (at your option) any later version.
 *
 * The ASM module is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with the ASM module.  If not, see <https://www.gnu.org/licenses/old-licenses/gpl-2.0/>.
 */
#}
<section id="asm_animals">
    <header>
        <h2>Strays</h2>
    </header>
    <div>
    <p>If you believe that one of these animals is your missing pet, or you know the owner, please
       contact us via phone, <a href="tel:+18123493492">812-349-3492</a>, or email,
       <a href="mailto:animal@bloomington.in.gov">animal@bloomington.in.gov</a>, for assistance.
    </p>
    {% for a in animals %}
    {% if 'DO NOT RELEASE- Investigation' not in a.ADDITIONALFLAGS %}
    <article class="{{ a.SPECIESNAME }}">
        <header>
        <h2>{{ a.SHELTERCODE }}</h2>
        <table>
            <tr><th>Color</th><td>{{ a.BASECOLOURNAME }}</td></tr>
            <tr><th>Age</th><td>{{ a.AGEGROUP }}</td></tr>
            <tr><th>Breed</th><td>{{ a.BREEDNAME }}</td></tr>
            <tr><th>Area Found</th><td>{{ a.PICKUPADDRESS }}</td></tr>
        </table>
        {% if a.WEBSITEMEDIAID %}
            {% if proxy %}
                <img src="{{ path('asm.media', {'media_id': a.WEBSITEMEDIAID}) }}" />
            {% else %}
                <img src="{{ asm_url }}/service?method=dbfs_image&amp;title={{ a.WEBSITEMEDIAID }}.jpg" />
            {% endif %}
        {% endif %}
        <p>{{ a.DISPLAYLOCATIONNAME }}</p>
    </article>
    {% endif %}
    {% endfor %}
    </div>
</section>
