{#
/**
 * @file
 * Displays an animal from the Animal Shelter Manager
 *
 * Available variables
 * - animal:  The animal data from JSON
 * - asm_url: Base URL for Shelter Manager
 * - proxy:   Whether to proxy images, or not
 *
 * @copyright 2017-2018 City of Bloomington, Indiana
 * @license https://www.gnu.org/licenses/old-licenses/gpl-2.0 GNU/GPL2, see LICENSE
 *
 * This file is part of the ASM drupal module.
 *
 * The ASM module is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 2 of the License, or
 * (at your option) any later version.
 *
 * The ASM module is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with the ASM module.  If not, see <https://www.gnu.org/licenses/old-licenses/gpl-2.0/>.
 */
#}
<section class="asm_animal">
    <div id="intro">
    {% if animal is not empty %}
        <div>
            {% if animal.ANIMALCOMMENTS %}<p>{{ animal.ANIMALCOMMENTS }}</p>{% endif %}
            <p>{{ animal.ANIMALNAME }} is:</p>
            <table>
                <tr><th>Species</th><td>{{ animal.SPECIESNAME }}</td></tr>
                <tr><th>Breed  </th><td>{{ animal.BREEDNAME   }}</td></tr>
                <tr><th>Sex    </th><td>{{ animal.SEXNAME     }}</td></tr>
                <tr><th>Age    </th><td>{{ animal.ANIMALAGE   }}</td></tr>
                <tr><th>Size   </th><td>{{ animal.SIZENAME    }}</td></tr>
                {% if animal.DECLAWED %}<tr><th>Declawed</th><td>Declawed</td></tr>{% endif %}
                {% if animal.HASSPECIALNEEDS %}<tr><th>Special Needs</th><td>Special Needs</td></tr>{% endif %}
                <tr><th>Good with cats</th>
                    <td>{% if     animal.ISGOODWITHCATS == 0 %}Yes
                        {% elseif animal.ISGOODWITHCATS == 1 %}No
                        {% elseif animal.ISGOODWITHCATS == 3 %}Selective
                        {% else %}Unknown
                        {% endif %}
                    </td>
                </tr>
                <tr><th>Good with dogs</th>
                    <td>{% if     animal.ISGOODWITHDOGS == 0 %}Yes
                        {% elseif animal.ISGOODWITHDOGS == 1 %}No
                        {% elseif animal.ISGOODWITHDOGS == 3 %}Selective
                        {% else %}Unknown
                        {% endif %}
                    </td>
                </tr>
                <tr><th>Good with children</th>
                    <td>{% if     animal.ISGOODWITHCHILDREN == 0 %}Yes
                        {% elseif animal.ISGOODWITHCHILDREN == 1 %}No
                        {% elseif animal.ISGOODWITHCHILDREN == 5 %}Over 5
                        {% elseif animal.ISGOODWITHCHILDREN == 12%}Over 12
                        {% else %}Unknown
                        {% endif %}
                    </td>
                </tr>
                <tr><th>Housetrained</th>
                    <td>{% if     animal.ISHOUSETRAINED == 0 %}Yes
                        {% elseif animal.ISHOUSETRAINED == 1 %}No
                        {% elseif animal.ISHOUSETRAINED == 3 %}Selective
                        {% else %}Unknown
                        {% endif %}
                    </td>
                </tr>
                <tr><th>Code</th><td>{{ animal.SHELTERCODE }}</td></tr>
            </table>
            <div class="link">
                <a class="button" href="{{ path('entity.node.canonical', {'node': 320}) }}">
                    Apply to Adopt
                </a>
            </div>
        </div>
        {% if animal.WEBSITEIMAGECOUNT %}
        <aside>
            <div>
            {% for n in 1..animal.WEBSITEIMAGECOUNT %}
                {% if proxy %}
                    <img src="{{ path('asm.image', {'animal_id': animal.ID, 'imagenum': n}) }}" />
                {% else %}
                    <img src="{{ asm_url }}/service?method=animal_image;animalid={{ animal.ID }};imagenum=n" />
                {% endif %}
            {% endfor %}
            </div>
        </aside>
        {% endif %}
    {% else %}
        <div>
            <p>
                This animal is no longer available.
                Please choose an option to see other animals available for adoption.
            </p>
        </div>
    {% endif %}
        <aside>
            <header><h2>Adoptable Animals</h2></header>
            <a class="button" href="{{ path('asm.adoptable_animals') }}" >All</a>
            <a class="button" href="{{ path('asm.adoptable_animals', {'species': 'Cat'  }) }}">Cats</a>
            <a class="button" href="{{ path('asm.adoptable_animals', {'species': 'Dog'  }) }}">Dogs</a>
            <a class="button" href="{{ path('asm.adoptable_animals', {'species': 'Other'}) }}">Other</a>
        </aside>
    </div>
</section>
