{#
/**
 * @file
 * Displays an animal from the Animal Shelter Manager
 *
 * Available variables
 * - animal:  The animal data from JSON
 * - asm_url: Base URL for Shelter Manager
 * - proxy:   Whether to proxy images, or not
 *
 * @copyright 2018 City of Bloomington, Indiana
 * @license https://www.gnu.org/licenses/old-licenses/gpl-2.0 GNU/GPL2, see LICENSE
 *
 * This file is part of the ASM drupal module.
 *
 * The ASM module is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 2 of the License, or
 * (at your option) any later version.
 *
 * The ASM module is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with the ASM module.  If not, see <https://www.gnu.org/licenses/old-licenses/gpl-2.0/>.
 */
#}
<section class="asm_animal">
    <div id="intro">
        <div>
            <table>
                {% if animal.SPECIESNAME   %}<tr><th>Species</th><td>{{ animal.SPECIESNAME   }}</td></tr>{% endif %}
                {% if animal.BREEDNAME     %}<tr><th>Breed  </th><td>{{ animal.BREEDNAME     }}</td></tr>{% endif %}
                {% if animal.SEXNAME       %}<tr><th>Sex    </th><td>{{ animal.SEXNAME       }}</td></tr>{% endif %}
                {% if animal.AGEGROUP      %}<tr><th>Age    </th><td>{{ animal.AGEGROUP      }}</td></tr>{% endif %}
                {% if animal.BASECOLORNAME %}<tr><th>Color  </th><td>{{ animal.BASECOLORNAME }}</td></tr>{% endif %}
            </table>
        </div>
        {% if animal.WEBSITEMEDIAID %}
        <aside>
            <div>
            {% if proxy %}
                <img src="{{ path('asm.media', {'media_id': animal.WEBSITEMEDIAID}) }}" alt="{{ animal.ANIMALNAME }}" />
            {% else %}
                <img src="{{ asm_url }}/service?method=dbfs_image&amp;title={{ animal.WEBSITEMEDIAID }}.jpg" alt="{{ animal.ANIMALNAME }}" />
            {% endif %}
            </div>
        </aside>
        {% endif %}
        {% if animal.DISTFEAT  %}<p>{{ animal.DISTFEAT  }}</p>{% endif %}
        {% if animal.AREAFOUND %}<p>{{ animal.AREAFOUND }}</p>{% endif %}
    </div>
</section>
