{#
/**
 * @file
 * Displays the list of Legislation in a single year for a committee
 *
 * Available variables
 * - legislation: The legislation JSON data from OnBoard
 * - type:        Type of legislation being listed
 * - year:        The year for the legislation being listed
 * - years:       Available years to choose from
 * - node:        The node object for the board page in Drupal
 *
 * @copyright 2017 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE.txt
 */
#}
<section class="legislation">
    {% set routeList    = 'onboard.legislationList.node-'  ~ node.id %}
    {% set routeYears   = 'onboard.legislationYears.node-' ~ node.id %}
    {% set routeInfo    = 'onboard.legislationInfo.node-'  ~ node.id %}
    {% set emptyHolder  = '- - -' %}

    <header>
        <div class="field-group">
            <label>View Year:</label>
            <select type="select"
                    onchange="javascript:location.href = this.value;">
                    <option value=""></option>

                {% for y, count in years %}
                    {% set optionValue =  path(routeList, {'node': node.id,
                                                           'type': type,
                                                           'year': y}) %}
                    <option value="{{ optionValue }}"
                            {% if y == year %}selected{% endif %}>
                        {{ y }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <a href="{{ path(routeYears, {'node':node.id, 'type':type}) }}"
           title="View Archive">View Archive</a>
    </header>

    <table>
        <thead>
            <tr>
                <th scope="col">Date - {{ year }}</th>
                <th scope="col">Number</th>
                <th scope="col">Status</th>
                <th scope="col">Title</th>
                <th scope="col">Download</th>
            </tr>
        </thead>

        <tbody>
            {% for l in legislation %}
            {% set url  = path(routeInfo, {'node':   node.id,
                                           'type':   type,
                                           'year':   year,
                                           'number': l.number}) %}
                <tr>
                    <th scope="row">
                        {% if l.actions %}
                            {% for item in l.actions %}
                                {% if loop.last %}
                                    {{ item.date|date("F j") }}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {{ emptyHolder }}
                        {% endif %}
                    </th>
                    <td>{{ l.number }}</td>
                    <td>{{ l.status }}</td>
                    <td>
                        <a href="{{ url }}"
                           title="Read More '{{l.title}}'">
                            {{ l.title  }}
                        </a>
                    </td>
                    <td>
                        {% if l.files %}
                            {% for file in l.files %}
                                <a href="{{ file.url }}"
                                   title="Download '{{l.title}}' PDF"
                                   class="download">{{ l.type }}</a>
                            {% endfor %}
                        {% else %}
                            {{ emptyHolder }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
