{#
/**
 * @file
 * Displays links to the other Drupal content for a board
 *
 * Available variables
 * - committee:   JSON object from OnBoard containing committee information
 * - nid:         The current node ID
 * - onboard_url: The base url for OnBoard
 *
 * @copyright 2018-2026 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
#}
<nav class="button-group">
	<a class="button" href="{{ path('onboard.meetingYears.node-'~nid, {'node':nid}) }}">
		Meetings &amp; Documents
	</a>
	{% if committee.calendarId %}
    <a class="button" href="https://calendar.google.com/calendar/embed?src={{ committee.calendarId }}&amp;ctz=America/New_York">
        Calendar
    </a>
	{% endif %}
	{% if committee.videoArchive %}
    <a class="button" href="{{ committee.videoArchive }}">
        Video Archive
    </a>
	{% endif %}
	{% if committee.legislative %}
    <a class="button" href="{{ path('onboard.legislationTypes.node-'~nid, {'node': nid}) }}">
        Legislation
    </a>
	{% endif %}
	{% if committee.reports %}
    <a class="button" href="{{ path('onboard.reports.node-'~nid, {'node': nid}) }}">
        Reports
    </a>
	{% endif %}
	{% if committee.takesApplications %}
    <a class="button" href="{{ onboard_url }}/committees/{{ committee.id }}/apply">
        Apply!
    </a>
	{% endif %}
</nav>
