{#
/**
 * @file
 * Displays the list of Members for a Committee
 *
 * Available variables
 * - committee:   JSON object from OnBoard containing committee information
 * - nid:         The current node ID
 * - onboard_url: The base url for OnBoard
 *
 * @copyright 2017 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE.txt
 */
#}
<div>
{% for seat in committee.seats %}
    <div>
        {% if not seat.vacant %}
        <h3>{{ seat.currentMember.name }}</h3>
        <dl>{% if seat.appointedBy %}
            <dt>Appointed By:</dt>
            <dd>{{ seat.appointedBy }}</dd>
            {% endif %}

            {% if seat.currentMember.termEndDate %}
            <dt>Term Expires:</dt>
            <dd>{{ seat.currentMember.termEndDate }}</dd>
            {% else %}
            <dt>Member Since:</dt>
            <dd>{{ seat.currentMember.termStartDate }}</dd>
            {% endif %}
        </dl>
        {% else %}
        <h3>Vacant</h3>
        <dl>{% if seat.appointedBy %}
            <dt>Appointed By:</dt>
            <dd>{{ seat.appointedBy }}</dd>
            {% endif %}

            {% if seat.currentTerm %}
            <dt>Term Expires</dt>
            <dd>{{ seat.currentTerm.endDate }}</dd>
            {% endif %}
        </dl>
        {% endif %}
    </div>
{% endfor %}
</div>
<nav>
    {% if committee.info.vacancy %}
    <a href="{{ onboard_url }}/applicants/apply?committee_id={{ committee.info.id }}" class="button">
        Apply to fill a vacancy on this board
    </a>
    {% endif %}
    <a href="{{ path('onboard.meetings', {'node': nid}) }}" class="button">Meeting Documents</a>
    {% if committee.info.videoArchive %}
    <a href="{{ committee.info.videoArchive }}" class="button">Meeting Videos</a>
    {% endif %}
</nav>
