{#
/**
 * @file
 * Displays upcoming meetings from an OnBoard committee
 *
 * Available variables
 * - meetings:   Hash of meetings, indexed by date
 * - nid:        The current node ID
 * - committee:  JSON object from OnBoard containing committee information
 *
 * @see https://developers.google.com/google-apps/calendar/v3/reference/events
 * @copyright 2017 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE.txt
#}
<div class="events">
	{% for date, day in meetings %}
	{% for event_id, event in day %}
		<a href="{{ event.htmlLink }}">
			<div class="date">
				<span>{{ event.start | date('M')}}</span>
				<span>{{ event.start | date('j')}}</span>
			</div>

			<article>
				<header>
					<h2>{{ event.summary  }}</h2>
				</header>

				<div class="location">
					<p>
                        <time datetime="{{ event.start }}">
                            <span class="weekday">
                                {{ event.start | date('l')}}
                            </span>
                            <span class="time">
                                {{ event.start | date('g:ia') }} -
                                {{ event.end   | date('g:ia') }}
                            </span>
                        </time>
					</p>
					{% if 'zoom' in event.location %}
						<p>via Zoom</p>
					{% elseif null == event.location %}
						<p>Location TBA</p>
					{% else %}
						<p>
							<small>{{ event.location }}</small>
						</p>
					{% endif %}

					<p>Click to view this Event</p>
				</div>
			</article>
		</a>
    {% endfor %}
	{% endfor %}
</div>
