{#
/**
 * @file
 * Displays the list of Members for a Committee
 *
 * Available variables
 * - committee:   JSON object from OnBoard containing committee information
 * - nid:         The current node ID
 * - onboard_url: The base url for OnBoard
 *
 * @copyright 2018 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE.txt
 */
#}
<div class="seats">
{% for seat in committee.seats %}
    {% if not seat.vacant %}
    {% if seat.currentMember.website %}<a href="{{ seat.currentMember.website }}">{% endif %}
    <div class="member">
        <h3>{{ seat.currentMember.firstname }} {{ seat.currentMember.lastname }}
            {% if  seat.currentMember.offices %}
            <div>{{ seat.currentMember.offices }}</div>
            {% endif %}
        </h3>
        <dl>{% if committee.info.name == "City Council" %}
            <dt>Elected By:</dt>
            <dd>{{ seat.name }}</dd>
            {% elseif seat.appointedBy %}
            <dt>Appointed By:</dt>
            <dd>{{ seat.appointedBy }}{% if seat.voting %} (Voting){% endif %}</dd>
            {% endif %}

            {% if seat.currentMember.termEndDate %}
            <dt>Term Expires:</dt>
            <dd>{{ seat.currentMember.termEndDate }}</dd>
            {% else %}
            <dt>Member Since:</dt>
            <dd>{{ seat.currentMember.termStartDate }}</dd>
            {% endif %}
        </dl>
    </div>
    {% if seat.currentMember.website %}</a>{% endif %}
    {% else %}
    <div class="member">
        <h3>Vacant
            {% if seat.currentMember.firstname %}
            ({{ seat.currentMember.firstname }} {{ seat.currentMember.lastname }})
            {% endif %}
        </h3>
        <dl>{% if seat.appointedBy %}
            <dt>Appointed By:</dt>
            <dd>{{ seat.appointedBy }}</dd>
            {% endif %}

            {% if seat.currentTerm %}
            <dt>Term Expires</dt>
            <dd>{{ seat.currentTerm.endDate }}</dd>
            {% endif %}
        </dl>
    </div>
    {% endif %}
{% endfor %}
</div>
