{#
/**
 * @file
 * Displays the list of Meetings and Meetings Documents
 *
 * Available variables
 * - meetings: The meetings JSON data from OnBoard
 * - year:     The year for the meetings being listed
 * - years:    The available years of meetingFiles we have for the committee
 * - node:     The node object for the board page in Drupal
 *
 * @copyright 2017 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE.txt
 */
#}
<section class="onboard_meetings">
    <header>
        <h2>{{ year }} Meetings</h2>
        <div class="tools">
            <a href="{{ path('onboard.meetings', {'node':node.id, 'year':year - 1}) }}">Back</a>
            <a href="{{ path('onboard.meetings', {'node':node.id, 'year':year + 1}) }}">Next</a>
        </div>
    </header>
    <nav>
    {% for y in years %}
        <a href="{{ path('onboard.meetings', {'node':node.id, 'year':y}) }}">{{ y }}</a>
    {% endfor %}
    </nav>

    {% for date, meeting in meetings %}
    <article class="meeting">
        <header>
            <time datetime="{{ date }}">
                <div class="month"    >{{ date|date('M')}}</div>
                <div class="monthDate">{{ date|date('j')}}</div>
                <div class="weekday"  >{{ date|date('l')}}</div>
            </time>
        </header>
        <div>
            {% for type, files in meeting.files %}
            <div class="{{ type }}">
                {% for i, file in files %}
                <a href="{{ file.url }}">{{ type }}{{ i ? i : ''}}</a>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </article>
    {% endfor %}
</section>
