{#
/**
 * @file
 * Displays upcoming meetings from an OnBoard committee
 *
 * Available variables
 * - meetings:   Hash of meetings, indexed by date
 * - nid:        The current node ID
 * - committee:  JSON object from OnBoard containing committee information
 *
 * @see https://developers.google.com/google-apps/calendar/v3/reference/events
 * @copyright 2017 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE.txt
#}
<div class="events">
	{% for date, event in meetings %}
		<a href="{{ event.htmlLink }}">
			<div class="date">
                {% if event.start.dateTime %}
				<span>{{ event.start.dateTime | date('M')}}</span>
				<span>{{ event.start.dateTime | date('j')}}</span>
                {% else %}
				<span>{{ event.start | date('M')}}</span>
				<span>{{ event.start | date('j')}}</span>
                {% endif %}
			</div>

			<article>
				<header>
					<h2>{{ event.summary  }}</h2>
				</header>

				<div class="location">
					<p>
						{% if event.start.dateTime %}
							<time datetime="{{ event.start.dateTime }}">
								<span class="weekday">
									{{ event.start.dateTime | date('l')}}
								</span>

								<span class="time">
									-
									{{  event.start.dateTime | date('g:ia') }}
									{% if event.end.dateTime %}
										-
										{{ event.end.dateTime | date('g:ia') }}
									{% endif %}
								</span>
							</time>
						{% else %}
							<time datetime="{{ event.start }}">
								<span class="weekday">
									{{ event.start | date('l')}}
								</span>
							</time>
						{% endif %}

					</p>
					{% if 'zoom' in event.location %}
						<p>via Zoom</p>
					{% elseif null == event.location %}
						<p>Location TBA</p>
					{% else %}
						<p>at City Hall</p>
						<p>
							<small>{{ event.location }}</small>
						</p>
					{% endif %}

					<p>Click to view this Event</p>
				</div>
			</article>
		</a>
	{% endfor %}
</div>
