{#
/**
 * @file
 * Displays available years to let the user choose a year
 *
 * Available variables
 * - decades:  The available years of legislation, organized by decade
 * - node:     The node object for the board page in Drupal
 * - upcoming: JSON data for upcoming meetings from OnBoardService::meetings()
 * - past:     JSON data for     past meetings from OnBoardService::meetings()
 *
 * @copyright 2017-2023 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 */
#}
<section class="meetings">
    {% if upcoming %}
    <table>
        <colgroup>
            <col class="date" />
            <col class="documents" />
        </colgroup>
        <thead>
            <tr><th scope="col">Upcoming</th>
                <th scope="col">Documents</th>
            </tr>
        </thead>
        <tbody>
            {% set today = 'now'|date('Y-m-d') %}
            {% for date, day in upcoming %}
                {% for event_id, meeting in day %}
                {% if date == today %}<tr class="today">{% else %}<tr>{% endif %}
                    <th scope="row">
                        <div>
                        {% if meeting.start %}{{ meeting.start|date("F j g:i a") }}
                        {% else %}{{ date|date("F j") }}
                        {% endif %}
                        {% if date == today %}( TODAY ){% endif %}
                        </div>
                        <div>{{ meeting.summary }}</div>
                    </th>
                    <td>{% if meeting.files %}
                            {% for type, files in meeting.files %}
                                {% for count, file in files %}
                                <a href="{{ file.url }}" class="download" title="Download '{{ file.title }}' PDF">
                                    {{ file.type }}
                                    {% if loop.index > 1%}<small>&nbsp;({{ loop.index }})</small>{% endif %}
                                </a>
                                {% endfor %}
                            {% endfor %}
                        {% else %}
                            {{ emptyHolder }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% if past %}
    <table>
        <colgroup>
            <col class="date" />
            <col class="documents" />
        </colgroup>
        <thead>
            <tr><th scope="col">Past 90 days</th>
                <th scope="col">Documents</th>
            </tr>
        </thead>

         <tbody>
            {% for date, day in past %}
            {% for event_id, meeting in day %}
                <tr>
                    <th scope="row">
                        <div>
                        {% if meeting.start %}{{ meeting.start|date("F j g:i a") }}
                        {% else %}{{ date|date("F j") }}
                        {% endif %}
                        </div>
                        <div>{{ meeting.summary }}</div>
                    </th>
                    <td>
                        {% if meeting.files %}
                            {% for type, files in meeting.files %}
                                {% for count, file in files %}
                                    <a href="{{ file.url }}"
                                       class="download"
                                       title="Download '{{ file.title }}' PDF">
                                        {{ file.type }}
                                        {% if loop.index > 1%}
                                            <small>&nbsp;({{ loop.index }})</small>
                                        {% endif %}
                                    </a>
                                {% endfor %}
                            {% endfor %}
                        {% else %}
                            {{ emptyHolder }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% set route = 'onboard.meetingList.node-' ~ node.id %}
    {% set y = 'now'|date('Y') %}
    <a class="button" href="{{ path(route, {'node':node.id, 'year':y }) }}">More {{ y }}</a>
</section>

<section class="meetings archive">
    <header><h2>Archive</h2></header>
    <div>
    {% for d, years in decades %}
        <div>
            <h3>{{ d }}'s</h3>
            <ul>{% for y, count in years %}
                <li><a href="{{ path(route, {'node':node.id, 'year':y}) }}" title="Meetings for {{y}}">
                        {{ y }} <small>({{ count }})</small>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    </div>
</section>
