{#
/**
 * @file
 * Displays available years to let the user choose a year
 *
 * Available variables
 * - decades:  The available years of legislation, organized by decade
 * - node:     The node object for the board page in Drupal
 *
 * @copyright 2019-2022 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 */
#}
<section class="meetings archive">
{% set route = 'onboard.meetingList.node-' ~ node.id %}
{% for d, years in decades %}
    <div>
        <h3>{{ d }}'s</h3>
        <ul>
            {% for y, count in years %}
            <li><a href="{{ path(route, {'node':node.id, 'year':y}) }}" title="Meetings for {{y}}">
                    {{ y }} <small>({{ count }})</small>
                </a>
            </li>
            {% endfor %}
            {% if node.id == 47 %}
            <li><a href="/clerk_archive/minutes/decades/{{ d }}.pdf" class="pdf">
                {{ d }}'s All Minutes
                </a>
            </li>
            {% for y, count in years %}
            <li><a href="/clerk_archive/minutes/years/{{ y }} Mins.pdf" class="pdf">
                    {{ y }} All Minutes
                </a>
            </li>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
{% endfor %}
</section>
