{#
/**
 * @file
 * Displays the list of Members for a Committee
 *
 * Available variables
 * - members:     JSON from OnBoard
 * - nid:         The current node ID
 * - onboard_url: The base url for OnBoard
 *
 * @copyright 2018-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 */
#}
<div class="seats">
	{% for seat in members %}
		{% if seat.member_id and not seat.carryOver %}
			{% if seat.member_website %}
            <a class="member" href="{{ seat.member_website }}">
            {% else %}
            <div class="member">
            {% endif %}

                <h3>{{ seat.member_firstname }}
                    {{ seat.member_lastname }}
                    {% if  seat.member_offices %}
                        <div>{{ seat.member_offices }}</div>
                    {% endif %}
                </h3>
                <dl>
                    {% if committee_name == "City Council" %}
                        <dt>Elected By:</dt>
                        <dd>{{ seat.seat_name }}</dd>
                    {% elseif seat.appointer_name %}
                        <dt>Appointed By:</dt>
                        <dd>{{ seat.appointer_name }}
                            {% if not seat.seat_voting %}
                                (non-voting)
                            {% endif %}
                        </dd>
                    {% endif %}

                    {% if seat.member_termEnd %}
                        <dt>Term Expires:</dt>
                        <dd>{{ seat.member_termEnd }}</dd>
                    {% else %}
                        <dt>Member Since:</dt>
                        <dd>{{ seat.member_startDate }}</dd>
                    {% endif %}
                    {% if seat.committee_alternates %}
                        <dt>Alternate:</dt>
                        {% if seat.alternate_id %}
                        <dd>{{ seat.alternate_firstname }}
                            {{ seat.alternate_lastname  }}
                        </dd>
                        {% else %}
                        <dd>Vacant</dd>
                        {% endif %}
                    {% endif %}
                </dl>

            {% if seat.member_website %}
            </a>
			{% else %}
            </div>
			{% endif %}

		{% else %}
        <div class="member">
            <h3>Vacant
                {% if seat.member_firstname %}
                    ({{ seat.member_firstname }}
                        {{ seat.member_lastname  }})
                {% endif %}
            </h3>
            <dl>
                {% if seat.appointer_name %}
                <dt>Appointed By:</dt>
                <dd>{{ seat.appointer_name }}</dd>
                {% endif %}

                {% if seat.term_id %}
                <dt>Term Expires</dt>
                <dd>{{ seat.term_endDate }}</dd>
                {% endif %}
            </dl>
            {% if seat.seat_takesApplications %}
            <a href="{{ onboard_url }}/applicants/apply?committee_id={{ seat.committee_id }}" class="button">
                Vacancy:Apply
            </a>
            {% endif %}
        </div>
		{% endif %}
	{% endfor %}
</div>
