{#
/**
 * @file
 * Displays the list of Meetings and Meetings Documents
 *
 * Available variables
 * - meetings: The meetings JSON data from OnBoard
 * - year:     The year for the meetings being listed
 * - years:    The available years of meetingFiles we have for the committee
 * - node:     The node object for the board page in Drupal
 *
 * @copyright 2017-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 */
#}
<section class="meetings">
    {% set routeList    = 'onboard.meetingList.node-'   ~ node.id %}
    {% set routeYears   = 'onboard.meetingYears.node-'  ~ node.id %}
    {% set emptyHolder  = '- - -' %}

    <header>
        <div class="field-group">
            <label>View Year:</label>
            <select type="select"
                    onchange="javascript:location.href = this.value;">

                {% for y, count in years %}
                    {% set optionValue =  path(routeList, {'node': node.id,
                                                           'year': y}) %}
                    <option value="{{ optionValue }}"
                            {% if y == year %}selected{% endif %}>
                        {{ y }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <a href="{{ path(routeYears, {'node':node.id}) }}"
           title="View Archive">View Archive</a>
    </header>

    <p>Not all documents in our archive are fully accessible.
       To request document remediation, please visit
       <a href="https://bloomington.in.gov/accessible">bloomington.in.gov/accessible</a>
       to submit an ADA support request.
    </p>

    <table>
        <thead>
            <tr><th scope="col"></th>
                <th scope="col">Downloads</th>
            </tr>
        </thead>

         <tbody>
            {% for date, day in meetings %}
            {% for time, tm in day %}
            {% for meeting in tm %}
                <tr>
                    <th scope="row">
                        <div>
                        {% if meeting.start %}{{ meeting.start|date("F j g:i a") }}
                        {% else %}{{ date|date("F j") }}
                        {% endif %}
                        </div>
                        <div>{{ meeting.title }}</div>
                    </th>
                    <td>
                        {% if meeting.files %}
                            {% for type, files in meeting.files %}
                                {% for count, file in files %}
                                    <a href="{{ file.url }}"
                                       class="download"
                                       title="Download '{{ file.title }}' PDF">
                                        {{ file.type }}

                                        {% if loop.index > 1%}
                                            <small>&nbsp;({{ loop.index }})</small>
                                        {% endif %}
                                    </a>
                                {% endfor %}
                            {% endfor %}
                        {% else %}
                            {{ emptyHolder }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</section>
