{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}
{% include '@cob/partials/siteHeader.html.twig' %}
<main>
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    {% include '@cob/partials/banner.html.twig' %}
    {% include '@cob/partials/breadcrumb.html.twig' %}
    {{ page.highlighted }}
    {{ page.help }}

    <div id="content" class="parks-page">
        <section id="activities" class="divided dark">
            <div class="container">
                <header>
                    <h2>Activities &amp; Programs</h2>
                </header>
                <div id="categories">
                    <article class="info-card">
                        <a href="{{ base_path }}recreation/sports">
                            <header><h3>Sports</h3></header>
                        </a>
                    </article>
                    <article class="info-card">
                        <a href="{{ base_path }}recreation/fitness">
                            <header><h3>Fitness</h3></header>
                        </a>
                    </article>
                    <article class="info-card">
                        <a href="{{ base_path }}recreation/recreation">
                            <header><h3>Recreation</h3></header>
                        </a>
                    </article>
                    <article class="info-card">
                        <a href="{{ base_path }}recreation/camps">
                            <header><h3>Camps</h3></header>
                        </a>
                    </article>
                </div>
                <div>
                    <header>
                        <h3>Find Activities</h3>
                        <p> Search for specific activities and programs by filtering on
                            type, age, or location.  Find the exact activities you are
                            interested in.
                        </p>
                    </header>
                    {{ program_search_form }}
                </div>
            </div>
        </section>
        {{ rentals  }}
        <section class="location promo hasImage">
            <div class="container">
                <div>
                    <div class="entity_reference">
                        <div><img src="{{ base_path }}{{ directory }}/css/images/cascades.jpg"
                                alt="Cascades Clubhouse and putting green at Cascades Golf Course">
                        </div>
                    </div>

                    <div>
                        <header>
                            <h2><a href="https://cascadesgolfcourse.org"><span>Cascades Golf Course</span></a></h2>
                        </header>
                        <p class="summary">
                            27-hole golf club with a pro shop, locker rooms, and banquet facility.
                        </p>
                        <div class="promo_title">
                            <a href="https://cascadesgolfcourse.org" class="btn more">Find out more</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{ tlrc }}
        <div class="container">
            {{ page.content }}
        </div>
        <section id="stats">
            <div class="container">
                <a href="{{base_path}}parks/trails"     ><div class="count">11</div><div>trails</div></a>
                <a href="{{base_path}}parks/parks"      ><div class="count">32</div><div>parks</div></a>
                <a href="{{base_path}}parks/pools"      ><div class="count"> 2</div><div>pools</div></a>
                <a href="{{base_path}}parks/facilities" ><div class="count"> 4</div><div>sports complexes</div></a>
                <a href="https://cascadesgolfcourse.org"><div class="count"> 1</div><div>golf course</div></a>
                <a href="{{base_path}}parks/facilities/frank-southern"><div class="count"> 1</div><div>ice arena</div></a>
            </div>
        </section>
        <section id="events" class="divided">
            <div class="container">
                {{ events }}
            </div>
        </section>
        <section id="related-links" class="divided">
            <div class="container">
                <header>
                    <h2>Related Categories</h2>
                </header>
                <div>{{ related }}</div>
            </div>
        </section>
    </div>
</main>
{% include '@cob/partials/footer.html.twig' %}
