{#
/**
 * @file
 * Displays a single Parks and Rec Programs
 *
 * Available variables
 * - program:  The program JSON data from Promt
 * - location: The location node object matching the program
 *
 * @copyright 2017-2018 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 */
#}
<div id="intro">
    <div class="promt_program">
        <header>
            <h2>About</h2>
        </header>
        <p>{{ program.statement }}</p>
    </div>
    <aside>
        <header><h2>Details</h2></header>
        <dl>
            {% if program.start_date      %}<dt>Start Date</dt>     <dd>{{ program.start_date|date('F j, Y') }}</dd>{% endif %}
            {% if program.start_time      %}<dt>Start Time</dt>     <dd>{{ program.start_time      }}</dd>{% endif %}
            {% if program.instructor      %}<dt>Instructor</dt>     <dd>{{ program.instructor      }}</dd>{% endif %}
            {% if program.member_fees     %}<dt>Member Fees</dt>    <dd>{{ program.member_fees     }}</dd>{% endif %}
            {% if program.non_member_fees %}<dt>Non Member Fees</dt><dd>{{ program.non_member_fees }}</dd>{% endif %}
            {% if program.in_city_fees    %}<dt>In City Fees</dt>   <dd>{{ program.in_city_fees    }}</dd>{% endif %}
            {% if program.non_city_fees   %}<dt>Non City Fees</dt>  <dd>{{ program.non_city_fees   }}</dd>{% endif %}
            {% if program.participant_age %}<dt>Ages</dt>           <dd>{{ program.participant_age }}</dd>{% endif %}
            {% if location %}
            <dt>Location</dt>
            <dd><a href="{{ path('entity.node.canonical', {'node':location.nid.value}) }}">
                    {{ location.title.value }}
                </a>
            </dd>
            {% endif %}
        </dl>
        {% if program.rectrac_id %}
        <a class="button"
            href="https://webtrac.bloomington.in.gov/wbwsc/webtrac.wsc/search.html?Primarycode={{ program.rectrac_id }}">
            Enroll Now
        </a>
        {% endif %}
    </aside>
</div>


{% if program.sessions %}
<section id="promt_sessions">
    <header>
        <h2>Sessions</h2>
    </header>
    <table>
        <thead>
        <tr><th></th>
            <th>Days</th>
            <th>Start, End Date</th>
            <th>Start, End Time</th>
            <th>Deadline</th>
            {% if program.sessions[0].participant_age %}<th>Ages</th>          {% endif %}
            {% if program.sessions[0].instructor      %}<th>Instructor</th>    {% endif %}
            {% if program.sessions[0].in_city_fees    %}<th>In City Fee</th>   {% endif %}
            {% if program.sessions[0].non_city_fees   %}<th>Non City Fee</th>  {% endif %}
            {% if program.sessions[0].member_fees     %}<th>Member Fee</th>    {% endif %}
            {% if program.sessions[0].non_member_fees %}<th>Non Member Fee</th>{% endif %}
        </thead>
        <tbody>
        {% for s in program.sessions %}
        <tr><td>{{ s.code }}</td>
            <td>{{ s.days }}</td>
            <td>{{ s.start_date }} - {{ s.end_date }}</td>
            <td>{{ s.start_end_time }}</td>
            <td>{{ s.registration_deadline }}</td>
            {% if s.participant_age %}<td>{{ s.participant_age }}</td>{% endif %}
            {% if s.instructor      %}<td>{{ s.instructor      }}</td>{% endif %}
            {% if s.in_city_fees    %}<td>{{ s.in_city_fees    }}</td>{% endif %}
            {% if s.non_city_fees   %}<td>{{ s.non_city_fees   }}</td>{% endif %}
            {% if s.member_fees     %}<td>{{ s.member_fees     }}</td>{% endif %}
            {% if s.non_member_fees %}<td>{{ s.non_member_fees }}</td>{% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
{% endif %}
